.header-container {
    width: 1728px;
    height: 93px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    background: white;
    border-bottom: 1px solid #F0F0F0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .header-content {
    width: 1698px;
    height: 93px;
    position: relative;
  }
  
  .logo {
    width: 197px;
    height: 79px;
    left: 67px;
    top: 14px;
    position: absolute;
  }
  
  .library1 {
    width: 208px;
    height: 79px;
    left: 0;
    top: 0;
    position: absolute;
  }
  
  .library21 {
    width: 197px;
    height: 79px;
    left: 0;
    top: 0;
    position: absolute;
  }
  
  .menu {
    width: 289px;
    height: 24px;
    left: 276px;
    top: 29px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
  }
  
  .category {
    width: 83.19px;
    height: 24px;
    position: relative;
  }
  
  div.category {
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    color: #050038;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  div.div-after {
    width: 10px;
    height: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    left: 73.19px;
    top: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  div.image {
    width: 12px;
    height: 8px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  div.vector {
    width: 10px;
    height: 5px;
    border: 1.50px #050038 solid;
  }
  
  university {
    width: 94.20px;
    height: 24px;
    position: relative;
  }
  
  div.university {
    left: 3px;
    top: 0;
    position: absolute;
    text-align: center;
    color: #050038;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  div.div-after {
    width: 10px;
    height: 10px;
    left: 84.20px;
    top: 10px;
    position: absolute;
  }
  
  div.books {
    padding-left: 20px;
    padding-right: 37.69px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
  .signup {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 22px;
    padding-right: 22.77px;
    left: 262.58px;
    top: 0;
    position: absolute;
    background: #4262FF;
    border-radius: 24px;
    border: 1px #4262FF solid;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  
  signup-free {
    color: white;
    font-size: 16px;
    font-family: 'Helvetica';
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
  }
